}

.login-box {
  margin: 100px auto;
  width: 200px;
  text-align: center;
}

button {
  background: purple;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.level {
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
}
