body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  text-align: left;
  line-height: 1.6;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  background: #6366f1;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background: gray;
}

.popup {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.7);
  display:flex;
  justify-content:center;
  align-items:center;
}

.popup-content {
  background:#1e293b;
  padding:20px;
  border-radius:10px;
}
